<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568460541473-ja6ige1s3pmk55phr9d01ibe7jukhosu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568460541473-ja6ige1s3pmk55phr9d01ibe7jukhosu</string>
	<key>API_KEY</key>
	<string>AIzaSyAWETqBqgo-Ba43gSPp9fup4l6Fbrr2Aso</string>
	<key>GCM_SENDER_ID</key>
	<string>568460541473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PhotoApp</string>
	<key>PROJECT_ID</key>
	<string>photoapp-94346</string>
	<key>STORAGE_BUCKET</key>
	<string>photoapp-94346.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568460541473:ios:2da5b9358ff54f96452d60</string>
	<key>DATABASE_URL</key>
	<string>https://photoapp-94346.firebaseio.com</string>
</dict>
</plist>